.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-decoration: none;
    border-bottom: 3px solid pink;
    background-color: white;
}

.header__logo{
    height: 40px;
    object-fit: contain;
}

.header__icon {
    padding: 20px;
}

.left_icon{
    padding-left: 10px;
}