.header {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    text-decoration: none;
    /* border-bottom: 3px solid pink; */
    background-color: #FF6962;
}

.small-logo{
    max-height: 85px;
    max-width: 75px;
}

.large-logo{
    max-height: 100px;
    max-width: 150px;
}

.header__logo{
    height: 40px;
    object-fit: contain;
}

.header__icon {
    padding: 20px;
}

.left_icon{
    padding-left: 10px;
}

svg {
    color: white;
}

.middle-div {
    padding-right:8vw;
    margin-left:auto;
    margin-right:auto;
}
