#main-head{
    margin-left: 0.7em;
    font-weight: 800;
    padding: 0.5em;
  }
  
  .pics{
    height: 4em;
    width: 4em;
    margin-right: 0.5em;
  }
  
  @media (min-width: 800px){
    #holder{
      width: 60%;
      max-height: 50vh !important;
      margin:0 auto;
    }
  }

  .puppy-container {
    width: 100vw;
    height:250px;
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
  }

  .puppy {
    height:250px;
  }

  .half-circle {
    position: absolute;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 300px;
    background-color: #80D2F6;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    border: 10px solid #80D2F6;
    border-bottom: 0;
}